@font-face {
    font-family: 'RussoOne';
    src: url("../fonts/RussoOne-Regular.ttf");
}

@font-face {
    font-family: 'Jura';
    src: url("../fonts/Jura-VariableFont_wght.ttf");
}

header {
    padding-top: 20px;
    padding-left: 40px;
    margin-bottom: 50px;

    display: flex;
    align-items: center;
}

header h1 {
    font-family: 'RussoOne';
    color: #fff;

    margin-right: 800px;
}

header ul {
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-block;
}

header ul li:hover a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

header ul li:not(:last-child) {
    margin-right: 20px;
}

header ul li a {
    font-family: 'Jura';
    font-size: 20px;

    text-decoration: none;
    color: white;
}
